@font-face {
	font-family: 'Montserrat', sans-serif;
	src: URL('Montserrat-ThinItalic.ttf') format('truetype');
  }

body{
	background: #ffffff
}

p{
	font-family: 'Montserrat', sans-serif;
	color: white;
	margin-top: 0px;
	margin-bottom: 0px;
}

p.big{
	font-size: 90px;
}

h1{
	font-family: 'Montserrat', sans-serif;
	color: white;
}

.tabbtn {
    background: #E0E0E0;
    font-weight: bold;
    border: 0px solid #4980CC;
    border-radius: 0px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.tabbtn:hover {
    color: #FFF;
    background: #4980CC;
	cursor: pointer
}